.buildpath
.DS_Store
.idea
.vagrant
.project
.settings/
.*.sw*
.*.un~
build/
composer.lock
nbproject
tmp/

# Local configuration files #
_app/config/*.local.php
_app/config/*.local.config.php
_app/config/profiles/*/*.local.php
_app/config/profiles/*/*.local.config.php

_app/vendor/**
_app/modules/*
!_app/modules/Application
!_app/modules/bootstrap.php

# Default Vendor Libraries (not composer) #
!_app/vendor/Datasecurity
!_app/vendor/xSampleClassmapSingle
!_app/vendor/*.php
_app/vendor/autoload.php
!_app/vendor/*.txt

