<?php
/**
 * Merged with application.config.php values
 * at very first application run on index.php
 *
 * Note: this config not merged with global config on equal keys
 *       but fully replaced.
 */
return array(
    'modules' => array(
        'AssetManager',
        'Application',    // in reason of config merging, you must enter full list of modules -
                          //  including Application as well. see not at top of file
        'SkeletonModule',
    ),
);
